---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = "Lumber Jack Game";
---

<BaseLayout title={title}>

 <div class="lumber-jack-container">
    <iframe title="Lumber Jack Game" src="https://tbot.xyz/lumber/"></iframe>
  </div>
</BaseLayout>

<style is:global>
  .lumber-jack-container {
    display: flex;
    justify-content: center;
    min-height: 500px;
  }
</style>
